/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
     margin: 0;
     padding: 0;
     min-width: 100%;
     width: 100%;
     max-width: 100%;
     min-height: 100%;
     height: 100vh;
     max-height: 100%;
     background-image: url("/assets/pattern.jpg");
     background-repeat: round;
 }

@font-face {
  font-family: 'PressStart2P';
  src: url('PressStart2P.ttf');
  font-weight: normal;
  font-style: normal;
}

 body {
   font-family: 'PressStart2P', 'Ubuntu';
 }

 ul, div.stat-item h3 {
   font-size: .75em;
 }

 div.item p {
  font-size: .65em;
 }

 .welcome {
   text-align: center;
   background: #e6e9ef;
   height: 175px;
   width: 90%;
   margin-left: 5%;
   border: 2px solid black;
   border-style: dotted;
   border-radius: 15px;
   padding-top: 75px;
   background: linear-gradient(#7EE8FA, #eef207);
 }

 .hello {
   background-color: #7EE8FA;
   width: 50%;
   margin-left: 25%;
   height: 30px;
   padding-top:5px;
   background: linear-gradient(#7EE8FA, #e6e9ef);
   border-radius: 10px;
   border: 2px solid black;
   text-align: center;
 }

 .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.thumbnails {
  max-height: 100px;
  max-width: 100px;
}

.show-image {
  max-width: 300px;
  max-height: 300px;
}

.main {
  grid-column: 1 / span 7;
  grid-row: 2 / span 7;
}

div.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

div.nav-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.nav-flex-container {
  justify-content: space-between;
}

div.flex-items, div.nav-flex-items {
  flex: 0 1 auto;
}

div.flex-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
}

div.nav-flex-items {
  flex: 0 1 auto;
  background: linear-gradient(#7EE8FA, #e6e9ef);
  border-radius: 10px;
  border: 2px solid black;
  font-weight: bold;
  color: black;
}

div.cart-flex-items {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  background: linear-gradient(#e6e9ef, #7EE8FA);
}

ul {
  list-style-type: none;
}

.cart-buttons, .cart-detail-li{
  margin: 10px;
}

.cart-buttons {
  border-radius: 5px;
}

.cart-bottom {
  text-align: center;
  background: #e6e9ef;
  height: 150px;
  width: 33%;
  margin-left: 33%;
  border: 2px solid black;
  padding: 5px;
  font-size: 1em;
  border-radius: 10px;
  background: linear-gradient(#e6e9ef, #7EE8FA);
}

#grand-total {
  text-align: right;
  margin: 20px;
  background: #e6e9ef;
}

ul.login-list, ul.edit-list {
  background: #e6e9ef;
  width: 200px;
  padding: 30px;
  border-radius: 10px;
}

ul.registration-list li, ul.login-list li, ul.edit-list li {
  padding: 5px;
}

ul.registration-list {
  background: linear-gradient(#eef207, #7EE8FA);
  width: 80%;
  height: 60%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid black;
}

ul.registration-list input, ul.login-list input {
  width: 300px;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
}

#submit {
  background: linear-gradient(#ff16b5, #7EE8FA);
}

ul.login-list {
  background: linear-gradient(#eef207, #7EE8FA);
  width: 80%;
  height: 60%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid black;
}

div#nav {
  grid-column: 1 / span 7;
  grid-row: 1 / 2;
}


div#cart-identity-nav ul, #user-functions ul {
  display: flex;
  list-style: none;
}

#cart-identity-nav ul li, #user-functions ul li {
  margin-left: 20px;
  margin-right: 20px;
}

div.stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 500px;
  overflow: scroll;
  min-height: 300px;
}

.item-stats, .orders-header {
  text-align: center;
  background: #e6e9ef;
  height: 30px;
  width: 33%;
  margin-left: 33%;
  border: 2px solid black;
  padding: 5px;
  font-size: 1em;
  border-radius: 10px;
  background: linear-gradient(#e6e9ef, #7EE8FA);
}

div.flex-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
  margin: 25px;
}

div.stat-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  word-wrap: normal;
  width: 250px;
  height: 215px;
  border: 2px solid black;
  background: linear-gradient(#e6e9ef, #7EE8FA);
  margin: 10px;
  border-radius: 10px;
}

div.item {
  font-size: .65em;
  display: flex;
  flex-direction: column;
  text-align: center;
  word-wrap: normal;
  width: 200px;
  height: 400px;
  border-color: black;
  border-left-style: solid;
  border-bottom-style: solid;
  border-top-style: dotted;
  border-right-style: dotted;
  margin: 10px;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(#e6e9ef, #7EE8FA);
  border-radius: 10px;
}

div.order {
  font-size: .75em;
  display: flex;
  flex-direction: column;
  text-align: center;
  word-wrap: normal;
  border-color: black;
  border-left-style: solid;
  border-bottom-style: solid;
  border-top-style: dotted;
  border-right-style: dotted;
  margin: 10px;
  justify-content: space-evenly;
  padding-bottom: 10px;
  padding-right: 25px;
  background: linear-gradient(#e6e9ef, #7EE8FA);
  border-radius: 10px;
  width: 75%;
  height: 100px;
  padding-top: 25px;
}

div.order-show {
  font-size: .75em;
  display: flex;
  flex-direction: column;
  text-align: center;
  word-wrap: normal;
  border-color: black;
  border-left-style: solid;
  border-bottom-style: solid;
  border-top-style: dotted;
  border-right-style: dotted;
  justify-content: space-evenly;
  padding-bottom: 10px;
  padding-right: 25px;
  background: linear-gradient(#e6e9ef, #7EE8FA);
  border-radius: 10px;
  width: 50%;
  margin-left: 25%;
  height: 100px;
  padding-top: 25px;
}

div.order ul a {
  margin-bottom: 10px;
}

div.order li {
  margin: 5px;
}

h1.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(#eef207, #7EE8FA);
  width: 75%;
  height: 60px;
  border: 2px solid black;
  border-radius: 15px;
  padding-top: 20px;
  margin-left: 12.5%;
}

.zach {
  width: 100px;
  height: 100px;
}

.merchant-list, .user-list {
  padding-right: 20px;
}

div.stats ul {
  padding-right: 25px;
}

div.merchant-item, div.user-item {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 20px;
}

.user, .item-name, .user-box{
  width: 75%;
  height: 100px;
  margin-left: 12.5%;
  padding-top: 25px;
  background: linear-gradient(#e6e9ef, #7EE8FA);
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
}

.user-box {
  height: 200px;
}

div.item-show {
  background: linear-gradient(#e6e9ef, #7EE8FA);
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
  width: 75%;
  margin-left: 12.5%;
  padding: 15px;
}

.flash {
  background: linear-gradient(#7EE8FA, #ff1616);
  text-align: center;
  width: 80%;
  height: 35px;
  margin-left: 9%;
  paddig-top: 10px;
}
